<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<title>{ifset title}{include title|striptags} | {/ifset}Doucuj.me</title>
</head>
<body>
	{block moduleContent}
		{include content}
	{/block}
</body>
</html>
